<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplicationp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFase1">

        <!-- Pantalla 1: Login (Es la que arranca primero con el paquete correcto) -->
        <activity
            android:name="com.example.myapplicationp.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla 2: Menú Principal (Se abre después del login) -->
        <activity
            android:name="com.example.myapplicationp.MainActivity"
            android:exported="false" />

    </application>

</manifest>
